<!DOCTYPE html>
<html>
<head>
    <title>Iterative Output</title>
</head>
<body>
    <h1>Tracker Page For Sent Emails</h1>
    <p><a href="{{url_for('index')}}"> Back to Index</a></p>
    <div id="output"></div>

    <script>
        

            const eventSource = new EventSource('/run/stream?fileName={{filename}}&startRow={{startrow}}&endRow={{endrow}}');
            eventSource.onmessage = function(event) {
                document.getElementById('output').innerText += event.data + '\n';
            };
            eventSource.addEventListener('close', function(event) {
                console.log("Server requested connection closure");
                eventSource.close();
            });
            
        

        
        
    </script>
</body>
</html>