<!DOCTYPE html>
<html>

<head>
    <title>Email Campaign Form</title>
</head>
<body>
    <h1>Submit Campaign Details</h1>
    <p><a href="{{url_for('index')}}"> Back to Home</a></p>
    
    <div class="form-container">
    <form action="/run/startCampaign" method="POST">
        <label for="senderemail">Sender Email:</label>
        <select id="senderemail" name="senderemail">
            <option value="" disabled selected hidden>Select an option</option>
            {% for email in senderemails %}
                <option value="{{email}}">{{email}}</option>
            {% endfor %}
        </select><br><br>
        <label for="cohortname">Cohort Name:</label>
        <select id="cohortname" name="cohortname">
            <option value="" disabled selected hidden>Select an option</option>
            {% for cohort in cohortlist %}
                <option value="{{cohort}}">{{cohort}}</option>
            {% endfor %}
        </select><br><br>
        <label for="emailtemplates">Email Templates:</label>
        <select id="emailtemplates" name="emailtemplates">
            <option value="" disabled selected hidden>Select an option</option>
            {% for template in emailtemplatelist %}
                <option value="{{template}}">{{template}}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
    
</body>
</html>