<!DOCTYPE html>
<html>

<head>
    <title>Email Bounce Form</title>
</head>
<body>
    <h1>Submit Email Bounces for Campaign</h1>
    <p><a href="{{url_for('index')}}"> Back to Home</a></p>
    
    <div class="form-container">
    <form action="/run/uploadEmailBounce" method="POST">
        <label for="filenames">File Name:</label>
        <select id="filenames" name="filenames">
            {% for name in fileNames %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select><br><br>
        <label for="startrow">Start Row:</label>
        <input type="number" id="startrow" name="startrow" required><br><br>
        
        <label for="endrow">End Row:</label>
        <input type="number" id="endrow" name="endrow" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
    </div>
    
</body>
</html>