<!doctype html>
<html>
  <head>
    <title>Reach</title>
  </head>
  <body>
    <h1>Manage Email Campaigns</h1>
        <p><a href="{{url_for('fileUploadEndpoint')}}"> Upload a file</a></p>
        <p><a href="{{url_for('inputFilesList')}}"> View Input Files</a></p>
        <p><a href="{{url_for('campaigntracker.generateTrackableLink')}}"> Generate Trackable Link</a></p>
        <p><a href="{{url_for('htmlEmailTemplatesList')}}"> View HTML Email Templates</a></p>
        <p><a href="{{url_for('sendemail.startCampaign')}}"> Start Email Campaign</a></p>
        <p><a href="{{url_for('campaigntracker.getEmailListForCampaign')}}"> Sent Email Report</a></p>
        
    
  </body>
</html>