<!DOCTYPE html>
<html>

<head>
    <title>Sender Credential</title>
</head>
<body>
    <h1>Add Sender Email Credentials</h1>
    <p><a href="{{url_for('index')}}"> Back to Home</a></p>
        
    <form id ="senderEmailCredentialForm">
        <label for="senderemail">Sender Email Id:</label>
        <input type="text" id="senderemail" name="senderemail" required><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required><br><br>
        <label for="smtpserver">SMTP Server String:</label>
        <input type="text" id="smtpserver" name="smtpserver" required><br><br>
        <label for="port">SMTP Server String:</label>
        <input type="text" id="port" name="port" required><br><br>
        
        
        
        <button type="submit">Submit</button>
    </form>
    
    <div id="resultArea"></div>
        <script>
            async function submitFormData(){
                document.getElementById('senderEmailCredentialForm').addEventListener('submit',async function(event){
                //Prevent the default form submission(stops the page reload)
                event.preventDefault();

                //Get the data from the input field
                const senderEmail= document.getElementById('senderemail').value;
                const password= document.getElementById('password').value;
                const smtpServer= document.getElementById('smtpserver').value;
                const port= document.getElementById('port').value;


                //Send the data to the server using the get API
                const url_endpoint = "{{url_for('addSenderEmailCredentials')}}";
                const response = await fetch(url_endpoint,{
                    method:'POST',
                    headers:{'content-type':'application/json'},
                    body:JSON.stringify({'senderEmail':senderEmail,'password':password,'smtpServer':smtpServer,'port':port}),
                });

                const resultData = await response.json();
                const resultDataString = resultData["message"];

                resultArea.innerHTML = `<h3><pre>${resultDataString}</pre></h3>`;

            })
        }
        submitFormData();
        </script>
    
    </body>
</html>